<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 23.06.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Я в Санкт-Петербурге на Python воркшопе.</p>
        </div>

        <div>
            <p>published: 23.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>А вы исполнили свою мечту?</p>
        </div>
    </body>
</html>